body {
    margin: 0;
    
    height: 10000px;
}
.container {
    width: 1440px;
    max-width: 90% ;
    margin: auto;
}
ul {
    margin: 0;
    padding: 0;
    
}
header {
    height: calc(100vh - 0px);
    background: no-repeat center/cover url("img/front-casa.jpeg");
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    
    
}
header .logo {
    display: inline-block;
    color: white;
    font-size: 16px;
}
header nav {
    display: inline-block;
    
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: white;
    letter-spacing: 0.37px;
    text-decoration: none;
    margin-right: 24px;
    font-size: 14px;
    
}
header button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid #e7e7e7;
    padding: 8px 20px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  
}
header .hero{
    color: white;
    max-width: 590px;
    margin-left: 150px ;
}
header .hero h1{
    margin-top: 150px;
    font-size: 15px;
}
header .hero p.design {
    font-size: 60px;
}
header .hero p {
    margin-top: 0;
    margin-bottom: 25px;
}
header .hero .button-nav{
    background-color: rgb(255, 255, 255);
    color: rgb(57, 54, 54);
    margin-top: 25px;
    padding: 8px 20px;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
    cursor: pointer;
   
}

section.hear-from{
    text-align: center;
    padding-top: 100px;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}
section.hear-from h1{
    letter-spacing: 0.80px;
    font-size: 15px;
}
section.hear-from p {
    font-size: 12px;
    letter-spacing: 0.80px;
    line-height: 50px;
}
section.hear-from p a {
    color: black;
    text-decoration: none;

}
section.working {
    background: #fbfbfb ;
    height: 500px;
    
    

}
section.working img {
    width: 50%;
    height: 100% ;
    float: right;
}
 button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: 1px solid #010101;
    padding: 10px 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 20px;

  
}
section.working .text {
    width: 400px;
    text-align: left;
    margin-left: 150px;
    padding-top: 100px;
}
section.working h3{
    font-size: 1vw;
}
section.working p.a {
    font-size: 3vw;
    margin: 0 0 30px;
    
}
section.working p.b {
    font-size: 1.3vw;
    
}

section.our-process{
    margin-top: 100px;
}

section.our-process h4,.c {
    text-align: center;
}
section.our-process .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
}
section.our-process .icon{
    padding: 10px;
}
section.our-process .icon .icon-picture{
   margin: 5px;
}
section.our-process .icon .icon-picture img {
   max-width: 2.5%;
   position: absolute;
}   



    






